/* Main CSS File */

html,body {
	margin: 0;
}

@-ms-viewport{
	width: device-width;
}
@viewport {
  width: device-width;
}

a { text-decoration: none; }

#logo {
  height:64px;
}

#nav {
  width: 100vw
}
